<form class="form-horizontal">
  <legend>Change Password</legend>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.name }}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Current password</label>

    <div class="col-sm-4">
      {{ view Ember.TextField type="password" valueBinding='old_password'}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">New password</label>

    <div class="col-sm-4">
      {{ view Ember.TextField type="password" valueBinding='new_password'}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Repeat new password</label>

    <div class="col-sm-4">
      {{ view Ember.TextField type="password" valueBinding='new_password2'}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'change' }}>Change</button>
    </div>
  </div>
</form>
