<div {{bind-attr class="entry_class"}}>
  {{#link-to "posts.user" from}}
    <span class="post-user">{{ unbound display_name }}</span>
    @{{ unbound from }}
  {{/link-to}}
  <div class="pull-right post-time">
    <span data-livestamp="{{unbound time}}" ></span>
  </div>
  <div class="post-text">{{ view Twitarr.ParsedTextView contentBinding="message" }}</div>
  <div class="text-center image-row">
    {{#each photo in photos}}
      <img src="{{unbound photo.thumb}}" {{action 'preview' photo}}>
    {{/each}}
  </div>

  <div class="post-details clearfix">
    {{#if liked_sentence}}
      <div class="pull-left">{{liked_sentence}}</div>
    {{/if}}
    {{#if logged_in}}
      <div class="pull-right">
        {{#if can_like}}
          <button type="button" class="btn btn-primary btn-xs like-button" {{ action 'favorite' entry_id }}>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            like
          </button>
        {{/if}}
        {{#if can_reply}}
          <button type="button" class="btn btn-primary btn-xs" {{ action 'reply' }}>
            <span class="glyphicon glyphicon-pencil"></span>
            reply
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
  {{#each reply in replies}}
    <div class="reply clearfix">
      {{#link-to "posts.user" reply.username}}
        <span class="post-reply-user">{{ unbound reply.display_name }}</span>
        @{{ unbound reply.username }}
      {{/link-to}} -
      {{ view Twitarr.ParsedTextView contentBinding="reply.message" }}
      <div class="pull-right post-time">
        <span data-livestamp="{{unbound reply.timestamp}}" ></span>
      </div>
    </div>
  {{/each}}
  {{#if replying}}
    <div class="post-reply clearfix">
      <div class="form-horizontal">
        {{ view Twitarr.PostAutoView }}
      </div>
      <button class="btn btn-primary pull-right btn-xs" {{ action 'cancel_reply' }}>
        Cancel
      </button>
      <button class="btn btn-primary pull-right margin-right-20 btn-xs" {{ action 'make_post' }}>
        Post it
      </button>
    </div>
  {{/if}}
</div>