<div {{bind-attr class="entry_class"}}>
  {{#link-to "posts.user" from}}
    <span>@{{ from }}</span>
  {{/link-to}}
  <div class="pull-right">
    <span style="color: darkgray;" {{bind-attr data-livestamp="time"}} ></span>
  </div>
  <div style="font-size: larger; font-weight: bold;">{{{ process_message }}}</div>
  <div class="text-center">
    {{#each photo in photos}}
      <a {{bind-attr href=photo.full}} target="_blank">
        <img {{bind-attr src=photo.thumb}}>
      </a>
    {{/each}}
  </div>

  <div class="post-details clearfix">
    {{#if liked_sentence}}
      <div class="pull-left">{{liked_sentence}}</div>
    {{/if}}
    {{#if logged_in}}
      <div class="pull-right">
        {{#if can_like}}
          <button type="button" class="btn btn-primary btn-xs" {{ action 'favorite' entry_id }}>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            like
          </button>
        {{/if}}
        <div class="btn-group">
          {{#if can_reply}}
            <button type="button" class="btn btn-primary btn-xs" {{ action 'reply' }}>
              <span class="glyphicon glyphicon-pencil"></span>
              reply
            </button>
            {{#if can_delete}}
              <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">reply</a></li>
                <li class="divider"></li>
                <li><a href="#" {{ action 'delete' entry_id }}>delete</a></li>
              </ul>
            {{/if}}
          {{else}}
            {{#if can_delete}}
              <button type="button" class="btn btn-primary btn-xs" {{ action 'delete' username }}>
                <span class="glyphicon glyphicon-remove"></span>
                delete
              </button>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  {{#each reply in replies}}
    <div style="border: 1px solid darkgray; margin: 0.5em; padding: 0.5em;">
      {{#link-to "posts.user" reply.username}}
        <span>@{{ reply.username }}</span>
      {{/link-to}}
      {{ reply.message }}
    </div>
  {{/each}}
  {{#if replying}}
    <div class="post-reply clearfix">
      <div class="form-horizontal" style='margin-top: 10px;'>
        {{ view Twitarr.PostAutoView }}
        <button class="btn btn-primary pull-right btn-xs" style="margin-top: 5px;" {{ action 'make_post' }}>Post it</button>
      </div>
      <button class="btn btn-primary pull-right margin-right-20 btn-xs"
              style="margin-top: 5px;" {{ action 'cancel_reply' }}>Cancel
      </button>
    </div>
  {{/if}}
</div>