<span class="list-top-controls">
  {{#link-to "seamail.new_message" id}}Reply{{/link-to}}
  <button {{action 'reload'}}>Refresh</button>
</span>

<h4>{{subject}}</h4>

<h5>
  {{users_display}}
</h5>

{{#each message in messages}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{message.author}}
      </span>
      <span class="timestamp">
        {{message.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{message.text}}
    </div>
  </div>
{{/each}}
