<div class="main-page-header">
  <div class="title">{{#link-to 'seamail' }}Seamail{{/link-to}} > {{subject}}
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

<div class="display_card">
  <div class="card-section">
    {{#each user in users}}
      {{#link-to 'user' user.username}}
        <span class="pull-left" style="padding: 0.5em;">
              {{unbound pretty_username user.username user.display_name}}
          <div style="text-align: center;">
            {{unbound user_picture user.username user.last_photo_updated}}
          </div>
          </span>
      {{/link-to}}
    {{/each}}
  </div>
  <div class="card-section">
    <div class="form">
      {{textarea value=text rows='2' class='input' placeholder='Send a message'}}
      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="footer">
      <button class="btn right" {{action 'post' text}}>Send</button>
    </span>
    </div>
  </div>
</div>
<div class="display_card">
  {{#each message in messages}}
    <div class="card-section section-with-photo">
      <div class="section-photo">
        {{unbound user_picture message.author message.author_last_photo_updated}}
      </div>

      <span class="title">
        {{unbound pretty_username message.author message.author_display_name}}
      </span>
      {{unbound pretty_timestamp message.timestamp}}

      <div class="body">
        <div class="body-section">
          {{{unbound message.text}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
