<div class="display_card">
  <div class="header">
    <div class="title">{{subject}}</div>
  </div>
  <div class="card-section">
    <div class="body">
      <div class="body-section form">
        {{#each user in users}}
          {{#link-to 'user' user.username}}
            <span class="pull-left" style="padding: 0.5em;">
              {{unbound pretty_username user.username user.display_name}}
              <div style="text-align: center;">
                {{unbound user_picture user.username}}
              </div>
          </span>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="card-section">
    <span class="title big-title">Post a message</span>
    {{textarea value=text rows='2' class='input'}}
    <ul class="errors-list">
      {{#each error in errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    <span class="controls">
      <button {{action 'post' text}}>Post</button>
    </span>
  </div>
</div>
<div class="display_card">
  <div class="card-section">
    <span class="controls">
      <button {{action 'reload'}}>Refresh</button>
    </span>
  </div>
  {{#each message in messages}}
    <div class="card-section section-with-photo">
      <div class="section-photo">
        {{unbound user_picture message.author}}
      </div>

      <span class="title">
        {{unbound pretty_username message.author message.author_display_name}}
      </span>
      {{unbound pretty_timestamp message.timestamp}}

      <div class="body">
        <div class="body-section">
          {{{unbound message.text}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
