<span class="pull-right">
  {{#link-to "seamail.new_message" id}}New Post{{/link-to}}
  <button {{action 'reload'}}>Refresh</button>
</span>

<h4>
  Conversation:
  {{#each user in users}}{{user}} {{/each}}
</h4>

{{#each message in messages}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{message.author}}
      </span>
      <span class="timestamp">
        {{message.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{message.text}}
    </div>
  </div>
{{/each}}
