<div class="main-page-header">
  <div class="title">{{#link-to 'seamail.index'}}Seamails{{/link-to}} > {{subject}}</div>
  <span class="controls">
    {{#link-to "seamail.new_message" model}}Reply{{/link-to}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>
  <div class="title">
    {{users_display}}
  </div>
</div>

<div class="display_card">
  {{#each message in messages}}
    <div class="card-section">
      <span class="title">
        {{message.author_display_name}}
      </span>
      {{pretty_timestamp message.timestamp}}

      <div class="body">
        <div class="body-section">
          {{{message.text}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
