<div class="main-page-header">
  <h4>{{#link-to 'seamail.index'}}Seamails{{/link-to}} > {{subject}}</h4>
  <span class="controls">
    {{#link-to "seamail.new_message" model}}Reply{{/link-to}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>
  <h5>
    {{users_display}}
  </h5>
</div>

{{#each message in messages}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{message.author}}
      </span>
      <span class="timestamp">
        {{message.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{message.text}}
    </div>
  </div>
{{/each}}
