<div>
  <span class="pull-right">
    {{#link-to "seamail.outbox" class="btn btn-info btn-xs"}}Sent mail{{/link-to}}
    {{#link-to "seamail.archive" class="btn btn-info btn-xs"}}Archived{{/link-to}}
  </span>

  <h3>Inbox</h3>
  {{#each mail in controller.seamail}}
    <div class='seamail-entry container'>
      {{ render "seamail/details" mail }}
      <div class="pull-right btn btn-success btn-xs" {{action 'reply' mail}}>
        <span class="glyphicon glyphicon-share-alt" style="margin-right: 5px;"></span>
        Reply
      </div>
      <div class="pull-right btn btn-primary btn-xs margin-right-20" {{action 'archive' mail.seamail_id}}>
        <span class="glyphicon glyphicon-folder-close" style="margin-right: 5px;"></span>
        Archive
      </div>
    </div>
  {{else}}
    {{#unless loading}}
      <div>
        No Seamail!
      </div>
    {{/unless}}
  {{/each}}
  {{partial 'loading'}}
</div>
{{partial 'bottomMenu'}}
