SEAMAIL INDEX
{{#each}}
  <div>
    {{#link-to 'seamail.detail' id}}{{users_display}}{{/link-to}} messages: {{messages}} last message: {{timestamp}}
  </div>
{{/each}}

<div>
  Users
  {{input value=users}}
</div>

<div>
  Text
  {{textarea value=text rows="5"}}
</div>

<button {{action 'new'}}>New Seamail</button>

<button {{action 'reload'}}>Refresh</button>
