<div class="card-section clickable" {{action 'display_seamail' id}}>
  <span class="title">
    {{subject}}
  </span>
  {{pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{users_display}}
    </div>
    <div class="body-section">
      {{messages}}
    </div>
  </div>
</div>
