<div class="card-section clickable" {{action 'display_seamail' id}}>
  <span class="title big-title">
    {{unbound subject}}
  </span>
  {{unbound pretty_timestamp timestamp}}

  <div class="form">
    {{#each user in users}}
      <span class="pull-left" style="padding: 0.5em;">
          {{unbound pretty_username user.username user.display_name}}
        <div style="text-align: center;">
          {{unbound user_picture user.username user.last_photo_updated}}
        </div>
        </span>
    {{/each}}
  </div>
  <div class="controls">
    {{unbound messages}}
  </div>
</div>
