<div class="card-section clickable" {{action 'display_seamail' id}}>
  <span class="title">
    {{messages}}
  </span>
  {{pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{subject}}
    </div>
  </div>
  {{#each user in users}}
    <span class="pull-left" style="padding: 0.5em;">
        {{pretty_username user.username user.display_name}}
      <div style="text-align: center;">
        {{user_picture user.username}}
      </div>
      </span>
  {{/each}}
</div>
