<form class="form-horizontal">
  <legend>Send a message</legend>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.to }}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">To</label>
    <div class="col-sm-8">
      {{ view Ember.TextField valueBinding='toInput' id='to-autocomplete' autocomplete='off'}}
      {{#if searchResults}}
        <div class="open dropdown post-autocomplete">
          <ul class="dropdown-menu">
            {{#each searchResults}}
              <li><a role="menuitem" href="#" {{ action 'select' this }}>{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      {{#each toPeople}}
        <div style="float: left; margin: 3px; border: 1px solid darkblue; padding: 3px; vertical-align: baseline;">
          {{this}}
          <a href="#" {{ action 'remove' this }} style="color: red;">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.subject }}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Subject</label>

    <div class="col-sm-8">
      {{ view Ember.TextField valueBinding='subject'}}
    </div>
  </div>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.text }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      {{ view Ember.TextArea rows='10' class='form-control' placeholder='Write!' valueBinding='text' }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'send' }}>Send</button>
    </div>
  </div>
</form>
