<div class="main-page-header">
  <div class="title">{{#link-to 'seamail.index'}}Seamails{{/link-to}} > new</div>
</div>
<div id="new-seamail-form">
  <h5>Users</h5>

  <div class="to-users">
    {{#each user in toUsers}}
      <span class="to-user" {{ action 'remove' user }}>
        {{user}}
        <span class="glyphicon glyphicon-remove"></span>
      </span>
    {{/each}}
  </div>
  <div class="autocomplete-parent">
    {{ input value=toInput id='seamail-user-autocomplete' class='input'}}
    {{#if searchResults}}
      <ul class="to-autocomplete-list">
        {{#each result in searchResults}}
          <li class="to-autocomplete-item" href="#" {{ action 'select' result }}>{{result}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <h5>Subject</h5>
  {{input value=subject class='input'}}
  <h5>Text</h5>
  {{textarea value=text rows='3' class='input'}}

  <ul class="errors-list">
    {{#each error in errors}}
      <li>{{error}}</li>
    {{/each}}
  </ul>
  <button {{action 'new'}}>Create</button>
</div>
