<div class="main-page-header">
  <div class="title">{{#link-to 'seamail.index'}}Seamails{{/link-to}} > new</div>
</div>
<div class="display_card">
  <div class="card-section">
    <div class="form">
      <span class="label">Users</span>
      <div class="seamail-autocomplete-parent">
        {{ input value=toInput id='seamail-user-autocomplete' class='input' placeholder='start typing a name'}}
        {{#if searchResults}}
          <ul class="to-autocomplete-list">
            {{#each result in searchResults}}
              <li class="to-autocomplete-item" href="#" {{ action 'select' result }}>{{display_name_plus_username result.username result.display_name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      <div class="seamail-to-users">
        {{#each user in toUsers}}
          <span class="to-user" {{ action 'remove' user }}>
          {{unbound user_picture user.username user.last_photo_updated}}
            {{user.display_name}}
            <span class="glyphicon glyphicon-remove"></span>
        </span>
        {{/each}}
      </div>
      {{input value=subject class='input' placeholder='Subject'}}
      {{textarea value=text rows='5' class='input' placeholder='First message'}}
      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="controls">
        <button class="btn" {{action 'new'}}>Send</button>
      </span>
    </div>
  </div>
</div>
