<form class="form-horizontal">
  <legend>Send a message</legend>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.to }}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">To</label>

    <div class="col-sm-8">
      {{view Twitarr.SeamailAutoView}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      {{#each toPeople}}
        <div
            style="float: left; margin-right: 5px; border: 1px solid darkblue; padding: 3px 6px; vertical-align: baseline;">
          {{this}}
          <a href="#" {{ action 'remove' this }} style="color: red;">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.subject }}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Subject</label>

    <div class="col-sm-8">
      {{ view Ember.TextField valueBinding='subject'}}
    </div>
  </div>
  <div class="form-group validation-error-group">
    <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.text }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      {{ view Ember.TextArea rows='3' class='form-control' placeholder='Write!' valueBinding='text' }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'send' }}>Send</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      Text here will
      <span style="font-style: italic; font-weight: bold">only</span>
      be sent to the people listed in the "to" field.
    </div>
  </div>
</form>
