FORUM DETAIL
{{#each post in posts}}
  <div>
    {{post.author}} {{post.text}} {{post.timestamp}}
  </div>
{{/each}}

<div>
  {{textarea value=new_post rows="5"}}
</div>

<button {{action 'new'}}>Post</button>
<br />
<button {{action 'reload'}}>Refresh</button>
