<div class="main-page-header">
  <span class="controls">
    {{#if logged_in}}
      {{#link-to "forums.new_post" id}}Reply{{/link-to}}
    {{/if}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>

  <h4>{{subject}}</h4>
</div>

{{#each post in posts}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{post.author}}
      </span>
      <span class="timestamp">
        {{post.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{post.text}}
    </div>
    <div class="photos">
      {{#each photo in post.photos}}
        <img {{bind-attr src=photo.path}} {{action 'display_photo' photo.id}} />
      {{/each}}
    </div>
  </div>
{{/each}}
