<div class="main-page-header">
  <div class="title">{{#link-to 'forums' }}Forums{{/link-to}} > {{forum.subject}}</div>
</div>

<div class="display_card">
  <div class="card-section">
    <span class="header">
      <button class="btn right" {{action 'reload'}}>Refresh</button>
    </span>
  </div>
  {{#each post in forum.posts}}
    <div {{bind-attr class="post.first_unread:scroll_to :card-section :section-with-photo"}}>
      <div class="section-photo">
        {{#link-to 'user' post.author}}
          {{unbound user_picture post.author}}
        {{/link-to}}
      </div>

    <span class="title">
      {{#link-to 'user' post.author}}
        {{unbound pretty_username post.author post.display_name}}
      {{/link-to}}
    </span>
      {{unbound pretty_timestamp post.timestamp}}
      <div class="body">
        <div class="body-section">
          {{{unbound post.text}}}
        </div>
        <div class="body-section photos">
          {{#each photo in post.photos}}
            {{render 'photo_mini' photo }}
          {{/each}}
        </div>
      </div>
      <span {{bind-attr class="post.new::hidden :controls"}} style="color: red;">new</span>
    </div>
  {{/each}}
  <div class="card-section">
    <div class="footer">
      {{#if has_prev_page}}
        <button class="controls btn left" {{action 'prev_page'}}>Previous</button>
      {{/if}}
      {{#if has_next_page}}
        <button class="controls btn right" {{action 'next_page'}}>Next</button>
      {{/if}}
    </div>
  </div>
</div>

<div {{bind-attr class="logged_in::hidden has_new_posts::scroll_to :display_card"}}>
  <div class="card-section">
    <span class="title big-title">Post a message</span>
    {{textarea value=new_post rows='3' class='input'}}
    <ul class="errors-list">
      {{#each error in forum.errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    {{view 'upload'}}
    <span class="controls">
      <button class="btn" {{action 'new'}}>Post</button>
    </span>
  </div>
</div>