<div class="main-page-header">
  <div class="title">{{#link-to 'forums.index'}}Forums{{/link-to}} > {{subject}}</div>
</div>

<div class="display_card">
  {{#each post in posts}}
    <div {{bind-attr class="post.first_unread:scroll_to :card-section :section-with-photo"}}>
      <div class="section-photo">
        {{#link-to 'user' post.author}}
          {{unbound user_picture post.author}}
        {{/link-to}}
      </div>

    <span class="title">
      {{#link-to 'user' post.author}}
        {{unbound pretty_username post.author post.display_name}}
      {{/link-to}}
    </span>
      {{unbound pretty_timestamp post.timestamp}}
      <div class="body">
        <div class="body-section">
          {{{unbound post.text}}}
        </div>
        <div class="body-section photos">
          {{#each photo in post.photos}}
            {{render 'photo_mini' photo }}
          {{/each}}
        </div>
      </div>
      {{#unless read_only}}
      <span {{bind-attr class="post.new::hidden :controls"}} style="color: red;">new</span>
      {{/unless}}
    </div>
  {{/each}}
  <div class="card-section">
    <span class="footer">
      <button class="btn" {{action 'reload'}}>Refresh</button>
    </span>
  </div>
</div>
{{#unless read_only}}
<div {{bind-attr class="logged_in::hidden has_new_posts::scroll_to :display_card"}}>
  <div class="card-section">
    <span class="title big-title">Post a message</span>
    {{textarea value=new_post rows='3' class='input'}}
    <ul class="errors-list">
      {{#each error in errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    {{view 'upload'}}
    <span class="controls">
      <button class="btn" {{action 'new'}}>Post</button>
    </span>
  </div>
</div>
{{/unless}}
