<div class="main-page-header">
  <span class="controls">
    {{#if logged_in}}
      {{#link-to "forums.new_post" model}}Reply{{/link-to}}
    {{/if}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>

  <div class="title">{{#link-to 'forums.index'}}Forums{{/link-to}} > {{subject}}</div>
</div>

<div class="display_card">
  {{#each post in posts}}
  <div class="card-section">
    <span class="title">
      {{post.author}}
    </span>
    {{pretty_timestamp post.timestamp}}
    <div class="body">
      <div class="body-section">
        {{post.text}}
      </div>
      <div class="body-section photos">
        {{#each photo in post.photos}}
          {{render 'photo_mini' photo }}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
