FORUMS INDEX
{{#each}}
  <div>
    {{#link-to 'forums.detail' id}}{{subject}}{{/link-to}} posts: {{posts}} last post: {{timestamp}}
  </div>
{{/each}}

<div>
  Subject
  {{textarea value=subject rows="5"}}
</div>

<div>
  Text
  {{textarea value=text rows="5"}}
</div>

<button {{action 'new'}}>New Forum</button>

<button {{action 'reload'}}>Refresh</button>
