<div class="main-page-header">
  <h4>New forum</h4>
</div>
Subject
{{input value=subject class='input'}}
Text
{{textarea value=text rows='5' class='input'}}
{{view 'upload'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button {{action 'new'}}>Create</button>

