<div class="main-page-header">
  <div class="title">{{#link-to 'forums'}}Forums{{/link-to}} > new</div>
</div>
<div class="display_card">
  <div class="card-section">
    <div class="form">
      {{input value=subject class='input' placeholder='Subject'}}
      {{textarea value=text rows='3' class='input' placeholder='First post'}}
      {{view 'upload'}}

      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="controls">
        <button class="btn" {{action 'new'}}>Create</button>
      </span>
    </div>
  </div>
</div>

