<div class="main-page-header">
  <h4>{{#link-to 'forums.index'}}Forums{{/link-to}} > new</h4>
</div>
Subject
{{input value=subject class='input'}}
Text
{{textarea value=text rows='3' class='input'}}
{{view 'upload'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button {{action 'new'}}>Create</button>

