<div class="main-page-header">
  <h4>{{#link-to 'forums.index'}}Forums{{/link-to}} > {{#link-to 'forums.detail' id}}{{subject}}{{/link-to}} > reply</h4>
</div>
{{textarea value=new_post rows='3' class='input'}}
{{view 'upload'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button {{action 'new'}}>Post</button>
