<div class="main-page-header">
  <div class="title">Announcements</div>
</div>
<div class="display_card">
  <div class="card-section">
    {{textarea value=text rows='3' class='input' placeholder='text'}}
    Display hours
    {{input value=hours class='input input-short'}}
    <ul class="errors-list">
      {{#each error in errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    <div class="controls">
      <button class="btn" {{action 'new' text hours}}>Announce</button>
    </div>
  </div>
</div>

<div class="display_card">
  <div class="card_title">Previous announcements</div>
  {{#each announcement in model}}
    <div class="card-section">
      <span class="title">
        {{announcement.author}}
      </span>
      {{pretty_timestamp announcement.timestamp}}
      <div class="body">
        <div class="body-section">
          {{announcement.text}}
        </div>
        <div class="controls">
          Displayed until: {{announcement.valid_until}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
