<div class="card-section section-with-photo">
  <div class="section-photo">
    {{user_picture username last_photo_updated}}
  </div>

  {{#if last_login}}
    {{pretty_timestamp last_login}}
  {{/if}}

  <span class="title big-title">
    @{{username}}
  </span>

  <div class="form">
    <button class="btn" {{action 'reset_password' username}}>Reset Password</button>
    {{#if empty_password?}}
      <span style="color: darkred; padding-left: 1em;">
          Empty password!
        </span>
    {{/if}}
    {{input value=display_name class='input' placeholder='Display Name'}}
    {{input value=email class='input' placeholder='Email'}}
    <div>
      {{input checked=is_admin type="checkbox" name="is_admin"}} Admin
      {{input value=status class='input input-short' placeholder='Status' }}
      {{#unless is_active}}
        <button class="btn" {{action 'activate' username}}>Activate</button>
      {{/unless}}
    </div>
    {{#if changed}}
      <button class="btn" {{action 'save' model}}>Save Changes</button>
    {{/if}}
  </div>
</div>