<%= form_tag(login_path, class: 'form-horizontal') do %>
  <legend>I have an account</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Username</label>

    <div class="col-sm-5">
      <%= text_field_tag :username, params[:username], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Password</label>

    <div class="col-sm-5">
      <%= password_field_tag :password, params[:password], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<% if Twitarr::Application.config.allow_new_users %>
  <h4><%= link_to 'I want to join!', user_new_path %></h4>
<% else %>
  <h3>New user creation has been disabled.</h3>
<% end %>
<h4><%= link_to 'I forgot my daggone password!', user_forgot_password_path %></h4>
