<%= form_tag(login_path, class: 'form-horizontal') do %>
  <legend>I have an account</legend>
  <div class="form-group">
    <label for="username">Username</label>

    <%= text_field_tag :username, params[:username], class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="password">Password</label>

    <%= password_field_tag :password, params[:password], class: 'form-control' %>
  </div>
  <div style="margin-top: 1em;">
    <%= submit_tag 'Login', class: 'btn btn-primary' %>
  </div>
<% end %>

<h4><%= link_to 'I want to join!', user_new_path %></h4>
<h4><%= link_to 'I forgot my daggone password!', user_forgot_password_path %></h4>
