<div class="main-page-header header-with-controls">
  <div class="controls">
    <button {{action 'show_new_post'}} {{bind-attr class="new_post_button_visible::hidden :btn"}}>New Post</button>
  </div>

  <div class="title">Tweets <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span></button></div>
</div>

<div {{bind-attr class="new_post_visible::hidden :display_card"}}>
  <div class="card-section">
    <div class="form">
      {{textarea value=new_post rows='3' class='input'}}
      {{view 'upload'}}

      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="controls">
        <button class="btn" {{action 'cancel'}}>Cancel</button>
        <button class="btn" {{action 'new'}}>Post</button>
      </span>
    </div>
  </div>
</div>

<div class="display_card">
  {{#each post in posts}}
    {{render "stream.post_partial" post}}
  {{/each}}
</div>

<div class="footer-controls">
  {{#if has_next_page}}
    <div class="card-section">
      <button class="controls btn" {{action 'next_page'}}>Older</button>
    </div>
  {{/if}}
</div>