<div class="main-page-header">
  <span class="controls">
    {{#link-to "stream.new"}}New Post{{/link-to}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>
  <h4>Stream O' Tweets</h4>
</div>

{{#each post in posts}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{post.author}}
      </span>
      <span class="timestamp">
        {{post.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{post.text}}
    </div>
    {{#if post.photo}}
      <img {{bind-attr src=post.sm_photo_path}} {{action 'display_photo' post.photo}} class="photo"/>
    {{/if}}
    {{#if post.favorites}}
      <div>
        {{post.favorites_string}} like this.
      </div>
    {{/if}}
  </div>
{{/each}}

{{#if has_next_page}}
  <div class="next-page-button">
    <button {{action 'next_page'}}>Next</button>
  </div>
{{/if}}
