<span class="pull-right">
  {{#link-to "stream.new"}}New Post{{/link-to}}
  <button {{action 'reload'}}>Refresh</button>
</span>
<h4>
  Seamonkey Stream o' Noise
</h4>
{{#each post in posts}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{post.author}}
      </span>
      <span class="timestamp">
        {{post.pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{post.text}}
    </div>
  </div>
{{/each}}

{{#if has_next_page}}
  <div class="pull-right">
    <button {{action 'next_page'}}>Next</button>
  </div>
{{/if}}
