Seamonkey Stream o' Noise
{{#each post in posts}}
  <div>
    {{post.author}} {{post.text}} {{post.timestamp}}
  </div>
{{/each}}

<div>
  {{textarea value=new_post rows="5"}}
</div>

{{#if has_next_page}}
  <div>
    <button {{action 'next_page'}}>Next</button>
  </div>
{{/if}}

<button {{action 'new'}}>Post</button>
<br />
<button {{action 'reload'}}>Refresh</button>
