<div class="card-section section-with-photo clickable" {{action 'display_tweet' id bubbles=false}}>

  <div class="section-photo">
    {{#link-to 'user' author}}
      {{unbound user_picture author}}
    {{/link-to}}
  </div>

  <span class="title">
    {{unbound pretty_username author display_name}}
  </span>

  {{unbound pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{{unbound text}}}
    </div>
    <div class="body-section photos">
      {{#if photo}}
        {{render 'photo_mini' photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    {{likes_string}}
    <a href="#" {{action 'unlike' model bubbles=false}} {{bind-attr class="unlike_visible"}}>Unlike</a>
    <a href="#" {{action 'like' model bubbles=false}} {{bind-attr class="like_visible"}}>Like</a>
  </div>
</div>