<div class="card-section section-with-photo clickable" {{action 'display_tweet' id bubbles=false}}>

  <div class="section-photo">
    {{#link-to 'user' author}}
      {{user_picture author}}
    {{/link-to}}
  </div>

  <span class="title">
    {{pretty_username author display_name}}
  </span>

  {{pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{{text}}}
    </div>
    <div class="body-section photos">
      {{#if photo}}
        {{render 'photo_mini' photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    {{likes_string}}
    {{#if logged_in}}
      {{#if user_likes}}
        <a href="#" {{action 'unlike' model bubbles=false}}>Unlike</a>
      {{else}}
        <a href="#" {{action 'like' model bubbles=false}}>Like</a>
      {{/if}}
    {{/if}}
  </div>
</div>