<div class="card-section section-with-photo">

  <div class="section-photo">
    <img {{bind-attr src=author_small_profile_pic}}/>
  </div>

  <span class="title">
    {{author}}
  </span>
  {{pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{{text}}}
    </div>
    <div class="body-section photos">
      {{#if photo}}
        {{render 'photo_mini' photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    {{likes_string}}
    {{#if logged_in}}
      {{#if user_likes}}
        <a href="#" {{action 'unlike' model}}>Unlike</a>
      {{else}}
        <a href="#" {{action 'like' model}}>Like</a>
      {{/if}}
    {{/if}}
  </div>
</div>