<div class="card-section section-with-photo clickable" {{action 'display_tweet' id bubbles=false}}>

  <div class="section-photo">
    {{#link-to 'user' author}}
      {{unbound user_picture author}}
    {{/link-to}}
  </div>

  <span class="title">
    {{unbound pretty_username author display_name}}
  </span>

  {{unbound pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{{unbound text}}}
    </div>
    <div class="body-section photos">
      {{#if photo}}
        {{render 'photo_mini' photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    {{likes_string}}
    <button {{action 'unlike' model bubbles=false}} {{bind-attr class="unlike_visible :btn-link"}}>Unlike</button>
    <button {{action 'like' model bubbles=false}} {{bind-attr class="like_visible :btn-link"}}>Like</button>
    <button {{action 'display_tweet' id bubbles=false}} {{bind-attr class="logged_in::hidden :btn-link"}}>Reply</button>
    {{#if show_parent}}
      <button {{action 'view_parent' model bubbles=false}} {{bind-attr class=":btn-link"}}>Parent</button>
    {{/if}}
  </div>
</div>