<div class="card-section section-with-photo clickable" {{action 'view_thread' model bubbles=false}}>

  <div class="section-photo">
    {{#link-to 'user' author}}
      {{unbound user_picture author author_last_photo_updated}}
    {{/link-to}}
  </div>

  <span class="title">
    {{#link-to 'user' author}}
      {{unbound pretty_username author display_name}}
    {{/link-to}}
  </span>

  {{unbound pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{{unbound text}}}
    </div>
    <div class="body-section photos">
      {{#if photo}}
        {{render 'photo_mini' photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    <div>
      {{likes_string}}
    </div>
    <div>
      <button {{action 'unlike' model bubbles=false}} {{bind-attr class="unlikeable::hidden :btn-link"}}>Unlike</button>
      <button {{action 'like' model bubbles=false}} {{bind-attr class="likeable::hidden :btn-link"}}>Like</button>
      <button {{action 'edit' id bubbles=false}} {{bind-attr class="editable::hidden :btn-link"}}>Edit</button>
      <button {{action 'display_tweet' id bubbles=false}} {{bind-attr class="logged_in::hidden :btn-link"}}>Reply</button>
      <Button {{action 'delete' id bubbles=false}} {{bind-attr class="deleteable::hidden :btn-link"}}>Delete</button>
    </div>
  </div>
</div>