<form class="form-horizontal">
  <legend>Make a post</legend>
  <div class="form-group validation-error-group">
    {{#each errors}}
      <div class="col-sm-offset-2 col-sm-8 validation-error">{{ text }}</div>
    {{/each}}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      Text you post here will be visible to
      <span style="font-style: italic; font-weight: bold">EVERYONE</span>
      using the twitarr system.
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      {{ view Twitarr.PostAutoView }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div id="photo-thumb-viewer">
        {{#each photo in photos}}
          <span class="file-attached">
            <img {{bind-attr src=photo.thumb}}>
            <button class="file-attached-delete" {{ action 'photo_delete' photo }}>
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        {{/each}}
        {{#if view.uploadPercent}}
          <div class="progress progress-striped" style="width: 150px; display: inline-block;">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr style=view.uploadPercentStyle}} >
              <span class="sr-only">{{view.uploadPercent}} Complete</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div id="photo-upload-div" style="border: 1px solid #008B00; padding: 30px; text-align: center; background-color: #EEFFEE">
        Drop photos here or click to add - accepts jpg, png, and gif
        <div>Maximum of five photos per post.</div>
      </div>
      <div>Note: Photo uploads on Android Chrome are BROKEN - recommend using Firefox on Android devices.</div>
    </div>
    <input style="display: none" id="fileupload" type="file" name="files[]" data-url="posts/upload" accept="image/*" multiple>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'send' }}>Post it</button>
    </div>
  </div>
</form>
