<div class='post-entry'>
  {{#linkTo "posts.user" username style="color: darkgray;"}}
    {{ username }}
    {{#if post_by_friend}}
      <span class="glyphicon glyphicon-bookmark" style="margin-left: 5px;"></span>
    {{/if}}
  {{/linkTo}}
  <div class="pull-right">
    {{#if can_delete}}
      <a href="#" class="margin-right-20" {{ action 'delete' post_id }}>
        <span class="glyphicon glyphicon-trash" style="margin-left: 5px;"></span>
        delete
      </a>
    {{/if}}
    <span style="color: darkgray;" {{bindAttr data-livestamp="post_time"}} ></span>
  </div>

  <div style="font-size: larger; font-weight: bold;">{{{ process_message }}}</div>
  <div class="post-details clearfix">
    {{#if liked_sentence}}
      <div class="pull-left">{{liked_sentence}}</div>
    {{/if}}
    {{#if logged_in}}
      <div class="clearfix">
        <div class="pull-right">
          {{#unless user_liked}}
            <a href="#" class="margin-right-20" {{ action 'favorite' post_id }}>
              <span class="glyphicon glyphicon-thumbs-up"></span>
              like
            </a>
          {{/unless}}
          {{#unless replying}}
            <a href="#" {{ action 'reply' username }}>reply</a>
          {{/unless}}
        </div>
      </div>
    {{/if}}
  </div>
  {{#if replying}}
    <div class="post-reply clearfix">
      {{ partial 'posts/create' }}
      <button class="btn btn-primary pull-right margin-right-20" style="margin-top: 5px;" {{ action 'cancel_post' }}>Cancel</button>
    </div>
  {{/if}}
</div>
