{{ partial 'posts/scroll_view' }}
<h3>Trending</h3>
<div class="text-center tag-cloud">
  <h4>Popular hashtags</h4>
  <div id="hashtag-cloud">
    {{#each tag in controller.tags}}
      <a href="#/posts/search/{{unbound tag.tag}}" title="Posts: {{unbound tag.count}}" class="popular-tag"
         style="font-size: {{unbound tag.size}}; color: {{unbound tag.color}};">#{{unbound tag.tag}}</a>
    {{/each}}
  </div>
</div>
{{ partial 'posts/list' }}
