<div>
  {{#if logged_in}}
    <div class="pull-right">
      {{#if is_friend}}
        <a href="#" {{ action 'unfollow' }}>
          Following
          <span class="glyphicon glyphicon-bookmark" style="margin-left: 5px;"></span>
        </a>
      {{else}}
        <a href="#" {{ action 'follow' }}>Not following</a>
      {{/if}}
    </div>
  {{/if}}
  <h3>@{{user}}</h3>
</div>
{{ partial 'posts/list' }}
