<div class="main-page-header">
  <div class="title">Your Alerts
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

{{#if announcements}}
  <div class="display_card">
    <div class="card_title">Announcements</div>
    {{#each announcement in announcements}}
      <div class="card-section section-with-photo">

        <div class="section-photo">
          {{user_picture announcement.author announcement.author_last_photo_updated}}
        </div>

        <span class="title">
          {{#link-to 'user' announcement.author}}
            {{pretty_username announcement.author announcement.display_name}}
          {{/link-to}}
        </span>

        <div class="body">
          <div class="body-section" style="text-align: center; padding: 0.5em 0.4em">
            {{{announcement.text}}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="display_card">
  <div class="card_title">Unread Seamail</div>
  {{#each seamail in unread_seamail}}
    {{render "seamail.meta_partial" seamail}}
  {{else}}
    <div class="card-section">
      No unread seamail.
    </div>
  {{/each}}
  <div class="card-section">
    {{#link-to 'seamail.index'}}
      View all seamail
    {{/link-to}}
  </div>
</div>

<div class="display_card">
  <div class="card_title">Upcoming Events</div>
  {{#each event in e.events}}
    {{render "events.meta_partial" event}}
  {{else}}
    <div class="card-section">
      No upcoming events.
    </div>
  {{/each}}
  <div class="card-section">
    {{#link-to 'events.today'}}
      View today's events
    {{/link-to}}
  </div>
</div>

<div class="display_card">
  <div class="card_title">Tweet Mentions</div>
  {{#each tweet in tweet_mentions}}
    {{render "stream.post_partial" tweet}}
  {{/each}}
</div>

<div class="display_card">
  <div class="card_title">Forum Mentions</div>
  {{#each forum in forum_mentions}}
    {{render "forums.meta_partial" forum}}
  {{/each}}
</div>
