<nav id="top-bar" role="navigation">
  <button type="button" class="menu-toggle" {{action 'menu_toggle'}}>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <span class="menu-brand">Twitarr</span>
</nav>
<div id="side-menu">
  <div id="login-info">
    {{#unless logged_in}}
      Not logged in.
    {{else}}
      {{ display_name }}
    {{/unless}}
  </div>
  <ul {{action 'menu_close'}}>
    {{#if logged_in}}
      <li>{{#link-to "seamail"}}Seamail{{/link-to}}</li>
    {{/if}}
    <li>{{#link-to "forums"}}Forums{{/link-to}}</li>
    <li>{{#link-to "stream"}}Stream o' Stuff{{/link-to}}</li>
    <li></li>
    {{#unless logged_in}}
      <li><a {{action 'login'}}>Login</a></li>
    {{else}}
      <li><a tabindex='-1' href='#' {{ action logout }}>Logout</a></li>
    {{/unless}}
  </ul>
</div>

<div id='main'>
  {{ outlet }}
  {{ outlet modal }}
</div>
