<nav id="top-bar" role="navigation">
  <button type="button" class="menu-toggle" {{action 'menu_toggle'}}>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  {{#link-to "stream"}}<span class="menu-brand">
    Twit-arr
  </span>
  {{/link-to}}
  {{#if alerts}}
    {{#link-to "alerts"}}
      <span class="menu-alerts glyphicon glyphicon-warning-sign" title="You have new alerts!"></span>
    {{/link-to}}
  {{/if}}
</nav>
<div id="side-menu">
  <div class="full-screen-overlay" {{action 'menu_toggle'}} ></div>
  <div id="menu">
    <div id="login-info">
      {{#unless logged_in}}
        Not logged in.
      {{else}}
        {{ display_name }}
      {{/unless}}
    </div>
    <ul {{action 'menu_close'}}>
      {{#if logged_in}}
        <li>{{#link-to "seamail"}}Seamail{{/link-to}}</li>
      {{/if}}
      <li>{{#link-to "forums"}}Forums{{/link-to}}</li>
      <li>{{#link-to "stream"}}Tweets{{/link-to}}</li>
      <li>---</li>
      <li>{{#link-to "search"}}Search{{/link-to}}</li>
      {{#if logged_in}}
        <li>
          {{#link-to "alerts"}}
            Alerts
            {{#if alerts}}
              <span style="color: red; font-size: small;">New!</span>
            {{/if}}
          {{/link-to}}
        </li>
      {{/if}}
      <li>---</li>
      {{#unless logged_in}}
        <li><a href="#" {{action 'login'}}>Login</a></li>
      {{else}}
        <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
        <li><a tabindex='-1' href='#' {{ action 'logout' }}>Logout</a></li>
        {{#if login_admin}}
          <li>---</li>
          <li>{{#link-to "admin.users"}}User administration{{/link-to}}</li>
          <li>{{#link-to "admin.announcements"}}New announcement{{/link-to}}</li>
        {{/if}}
      {{/unless}}
      <li>---</li>
      <li><a href="#" {{action 'help'}}>Help</a></li>
    </ul>
  </div>
</div>

<div id='main'>
  {{ outlet }}
  {{ outlet 'modal' }}
</div>
