<nav id="top-bar" role="navigation">
  <button type="button" class="menu-toggle" {{action 'menu_toggle'}}>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <span class="menu-brand">
    <img src="img/Twitarr - header.png">
    <span>Twit-arr</span>
  </span>
</nav>
<div id="side-menu">
  <div id="login-info">
    {{#unless logged_in}}
      Not logged in.
    {{else}}
      {{ display_name }}
    {{/unless}}
  </div>
  <ul {{action 'menu_close'}}>
    {{#if logged_in}}
      <li>{{#link-to "seamail"}}Seamail{{/link-to}}</li>
    {{/if}}
    <li>{{#link-to "forums"}}Forums{{/link-to}}</li>
    <li>{{#link-to "stream"}}Tweets{{/link-to}}</li>
    <li>---</li>
    {{#unless logged_in}}
      <li><a href="#" {{action 'login'}}>Login</a></li>
    {{else}}
      <li><a tabindex='-1' href='#' {{ action logout }}>Logout</a></li>
    {{/unless}}
    <li>---</li>
    <li><a href="#" {{action 'help'}}>Help</a></li>
  </ul>
</div>

<div id='main'>
  {{ outlet }}
  {{ outlet modal }}
</div>
