<form class="form-horizontal">
  <legend>I have an account</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Username</label>

    <div class="col-sm-5">
      {{ view Ember.TextField name="login" valueBinding='username'}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Password</label>

    <div class="col-sm-5">
      {{ view Ember.TextField name="password" type='password' valueBinding='password'}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <input type="submit" class="btn btn-primary" {{ action 'login' }} value="Login">
    </div>
  </div>
</form>

<form class="form-horizontal" style="margin-top: 20px;">
  <legend>I don't have an account yet!</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Username</label>

    <div class="col-sm-5">
      {{ view Ember.TextField valueBinding='new-username'}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Email</label>

    <div class="col-sm-5">
      {{ view Ember.TextField valueBinding='email'}}
    </div>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8" style="margin-bottom: 5px;">
      Your email is only visible to administrators.
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Password</label>

    <div class="col-sm-5">
      {{ view Ember.TextField type='password' valueBinding='new-password'}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Repeat password</label>

    <div class="col-sm-5">
      {{ view Ember.TextField type='password' valueBinding='new-password2'}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'request_account' }}>Request account</button>
    </div>
  </div>
</form>
