<div class="main-page-header">
  <h3>{{username}}</h3>
</div>

<div id="profile-photo-upload-div">
  <img {{bind-attr src=profile_pic}} class="profile-pic"/>
  {{#if controllers.application.uploads_pending}}
    <div class="uploading">Uploading...</div>
  {{else}}
    Click to change profile photo
  {{/if}}
</div>
<input id="profile-photo-upload" type="file" name="file" data-url="/api/v2/user/photo" accept="image/*" style="display: none;">

<div style="max-width: 25em; margin-bottom: 1.5em;">
  <h5>Display Name</h5>

  <div>
    {{ input value=display_name class='input'}}
  </div>
  <h5>Email</h5>

  <div>
    {{ input value=email class='input'}}
  </div>
  <div>
    {{input type="checkbox" checked=email_public?}} Public email
  </div>
  <h5>Room Number (Optional, public)</h5>

  <div>
      {{ input value=room_number class='input'}}
  </div>
  <br/>

  <button id="show-change-password" onclick="$('#change-password,#change-password-hdr').show(); $('#show-change-password').hide()">Change password</button>

  <h5 id="change-password-hdr" style="display: none">Change Password</h5>
  <div id="change-password" style="display: none">
      Current: {{ input type="password" value=current_password class='input' }}<br/>
      New: {{ input type="password" value=new_password class='input' }}
      Confirm: {{ input type="password" value=confirm_password class='input' }}
  </div>

</div>
<button {{action 'save'}}>Save Changes</button>
