<div class="display_card">
  <div class="card-section section-with-profile-photo">
    <div class="section-photo">
      <img {{bind-attr src=photo_path}} {{action 'display_photo' model bubbles=false}} />
    </div>
    <div class="title big-title">
      {{! I know what you're thinking, this is the grossest thing in the world, but bear with me here}}
      {{! I need to text-stroke the unicode star, this is really only possible in chrome and I dont want that}}
      {{! So, I could use a PNG here but I dont want another http request... so inline SVG! }}
      {{! Because SVG actually gets text-stroke in every browser ever... Good consistency.}} 
      {{display_name_plus_username username display_name}}<svg {{bind-attr class=":star hidden::logged_in"}} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.3 18.59"><defs><style>.star {font-size:15.05px;fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px;font-family:Arial;}.true {fill:gold;stroke:gold;}</style></defs><text {{action "star"}} {{bind-attr class=":star starred:true"}} transform="translate(0.13 13.37)">★</text></svg>
    </div>
  </div>
  <div class="card-section">
    <div class="form row">
      <div class="col-xs-6">
        <div class="label">Tweets</div>
        <div class="data">{{number_of_tweets}}</div>
        <div class="label">Mentions</div>
        <div class="data">{{number_of_mentions}}</div>
        {{#if real_name}}
          <div class="label">Real name</div>
          <div class="data">{{real_name}}</div>
        {{/if}}
      </div>
      <div class="col-xs-6">
        {{#if home_location}}
          <div class="label">Lives in</div>
          <div class="data">{{home_location}}</div>
        {{/if}}
        {{#if email}}
          <div class="label">Email</div>
          <div class="data">{{email}}</div>
        {{/if}}
        {{#if room_number}}
          <div class="label">Room number</div>
          <div class="data">{{room_number}}</div>
        {{/if}}
      </div>
    </div>
    {{#if vcard_public? }}
      <a href="/user/profile/{{unbound username}}/vcf">Download user as contact</a>
    {{/if}}
  </div>
</div>
<div class="display_card">
  <div class="card_title">Recent Tweets</div>
  {{#each tweet in recent_tweets}}
    {{render "stream.post_partial" tweet}}
  {{else}}
    <div class="card-section">
      No results.
    </div>
  {{/each}}
</div>
