<div class="display_card">
  <div class="header">
    <div class="title">
      {{display_name_plus_username username display_name}}
    </div>
  </div>

  <div class="card-section section-with-profile-photo">
    <div class="section-photo">
      {{user_picture username}}
    </div>
    <div class="body">
        {{#if room_number}}
        <b>Room number:</b> {{room_number}}<br/>
        {{/if}}
        <b>Number of tweets:</b> {{number_of_tweets}}<br/>
        <b>Number of mentions:</b> {{number_of_mentions}}<br/>
    </div>
  </div>
</div>
<div class="display_card">
  <div class="header">
    <div class="title">Recent Tweets</div>
  </div>
  {{#each tweet in recent_tweets}}
    {{render "stream.post_partial" tweet}}
  {{else}}
    <div class="card-section">
      No results.
    </div>
  {{/each}}
  {{#if more_tweets}}
    <div class="card-section">
      View all matching tweets...
    </div>
  {{/if}}
</div>
