<div class="display_card">
  <div class="card-section section-with-profile-photo">
    <div class="section-photo">
      <img {{bind-attr src=photo_path}} {{action 'display_photo' model bubbles=false}} />
    </div>
    <div class="title big-title">
      {{display_name_plus_username username display_name}}
    </div>
  </div>
  <div class="card-section">
    <div class="form row">
      <div class="col-xs-6">
        <div class="label">Tweets</div>
        <div class="data">{{number_of_tweets}}</div>
        <div class="label">Mentions</div>
        <div class="data">{{number_of_mentions}}</div>
        {{#if real_name}}
          <div class="label">Real name</div>
          <div class="data">{{real_name}}</div>
        {{/if}}
      </div>
      <div class="col-xs-6">
        {{#if home_location}}
          <div class="label">Lives in</div>
          <div class="data">{{home_location}}</div>
        {{/if}}
        {{#if email}}
          <div class="label">Email</div>
          <div class="data">{{email}}</div>
        {{/if}}
        {{#if room_number}}
          <div class="label">Room number</div>
          <div class="data">{{room_number}}</div>
        {{/if}}
      </div>
    </div>
    {{#if vcard_public? }}
      <a href="/user/profile/{{unbound username}}/vcf">Download user as contact</a>
    {{/if}}
  </div>
</div>
<div class="display_card">
  <div class="card_title">Recent Tweets</div>
  {{#each tweet in recent_tweets}}
    {{render "stream.post_partial" tweet}}
  {{else}}
    <div class="card-section">
      No results.
    </div>
  {{/each}}
</div>
