<div class="display_card">
  <div class="header">
    <div class="title">
      {{display_name_plus_username username display_name}}
    </div>
  </div>

  <div class="card-section section-with-profile-photo">
    <div class="section-photo">
      {{user_picture username}}
    </div>
    <div class="body">
        <dl>
        {{#if email}}
        <dt>Email</dt><dd>{{email}}</dd>
        {{/if}}
        {{#if room_number}}
        <dt>Room number</dt><dd>{{room_number}}</dd>
        {{/if}}
        <dt>Number of tweets</dt><dd>{{number_of_tweets}}</dd>
        <dt>Number of mentions</dt><dd>{{number_of_mentions}}</dd>
        </dl>
    </div>
  </div>
</div>
<div class="display_card">
  <div class="header">
    <div class="title">Recent Tweets</div>
  </div>
  {{#each tweet in recent_tweets}}
    {{render "stream.post_partial" tweet}}
  {{else}}
    <div class="card-section">
      No results.
    </div>
  {{/each}}
  {{#if more_tweets}}
    <div class="card-section">
      View all matching tweets...
    </div>
  {{/if}}
</div>
