<div class="main-page-header header-with-controls">
  <span class="controls">
    <button {{bind-attr class=":btn login_admin::hidden"}} {{action 'create_event'}}>Create Event</button>
  </span>
  <div class="title">Schedule
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

<div class="display_card calendar-nav">
  <button class="btn left" {{action 'prev_day'}}>{{unbound prev_day_text}}</button>
  <button class="btn right" {{action 'next_day'}}>{{unbound next_day_text}}</button>
  <div>{{unbound today_text}}</div>
</div>

<div class="display_card">
{{#each event in events}}
    {{render "schedule.meta_partial" event}}
{{else}}
  <div class="card-section">No events scheduled for this day.</div>
{{/each}}
</div>

{{#if events}}
  <div class="display_card calendar-nav">
    <button class="btn left" {{action 'prev_day'}}>{{unbound prev_day_text}}</button>
    <button class="btn right" {{action 'next_day'}}>{{unbound next_day_text}}</button>
    <div>{{unbound today_text}}</div>
  </div>
{{/if}}
