<div class="main-page-header">
  <div class="title">{{#link-to 'events'}}Events{{/link-to}} > Edit</div>
</div>
<div class="display_card">
  <div class="card-section">
    <div class="form">
      <ul class="errors-list">
        {{#if errors}}
          <strong>Errors:</strong>
          {{#each error in errors}}
            <li>{{error}}</li>
          {{/each}}
        {{/if}}
      </ul>
      <div class="form row">
        <div class="col-xs-12">
          <h4>{{unbound title}}</h4>
          {{input value=location class='input' placeholder='Location'}}
          {{textarea value=description rows='3' class='input' placeholder='Description'}}
        </div>
      </div>

      <div class="form row">
        <div class="col-xs-6">
          Start Time*
          {{input value=start_time type='datetime-local' class='input'}}
        </div>

        <div class="col-xs-6">
          End Time
          {{input value=end_time type='datetime-local' class='input'}}
        </div>
      </div>
      <span class="controls">
        <button class="btn" {{action 'save'}}>Save</button>
      </span>
      Items with an * in the name are required
    </div>
  </div>
</div>


