<form class="form-horizontal">
  <legend>{{ username }}</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Email address</label>

    <div class="col-sm-5">
      {{input value=email}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Status</label>

    <div class="col-sm-5">
      {{input value=status}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <label class="checkbox">
        {{view Ember.Checkbox checkedBinding=is_admin}} Is admin?
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-primary" {{ action 'save' }}>Save</button>
      <button class="btn btn-primary" {{ action 'cancel' }}>Cancel</button>
    </div>
  </div>
</form>
