<div class="main-page-header">
  <div class="title">{{#link-to 'events'}}Events{{/link-to}} > New</div>
</div>
<div class="display_card">
  <div class="card-section">
    <div class="form">
      <p>Any events using JCC-dedicated spaces/times (Game Room, Cloud Nine, etc.) beyond individual-game plans (e.g., “let’s us 6 play CAH at 2pm”) MUST be submitted and approved as Shadow Cruise Events; submission forms will be available at the Info Desk outside the Game Room. Events in public spaces are fine, as long as you are mindful of other passengers.</p>
      <ul class="errors-list">
        {{#if errors}}
          <strong>Errors:</strong>
          {{#each error in errors}}
            <li>{{error}}</li>
          {{/each}}
        {{/if}}
      </ul>
      <div class="form row">
        <div class="col-xs-12">
          {{input value=title class='input' placeholder='Title*'}}
          {{input value=location class='input' placeholder='Location'}}
          {{textarea value=description rows='3' class='input' placeholder='Description'}}
        </div>
      </div>

      <div class="form row">
        <div class="col-md-5 col-xs-12">
          Start Time*
          {{input value=start_time type='datetime-local' class='input'}}
        </div>

        <div class="col-md-5 col-xs-12">
          End Time
          {{input value=end_time type='datetime-local' class='input'}}
        </div>
        <div class="col-md-2 col-xs-4">
          Max Signups
          {{input value=max_signups type='number' class='input'}}
        </div>
      </div>
      <span class="controls">
        <button class="btn" {{action 'new'}}>Create</button>
      </span>
      Items with an * in the name are required
    </div>
  </div>
</div>

