<!DOCTYPE html>
<html ng-app="twitarr">
<head>
  <title>Twit-arr!</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- This is included here because it helps to load it before the page renders. -->
  <%= javascript_include_tag 'respond' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"></head>

  <%# All our angular templates -%>
  <%= render "angular/includes" %>
<body>

  <img style="width: 128px; height: 128px;" src="img/app-loading.gif" id="app-loading">

  <div id="loading-overlay" style="display: none;">
    <div class="full-screen-overlay" ></div>
    <img src="img/ajax-loader.gif" id="app-loading">
  </div>
  
  <div id="main-frame" style="display: none;">
    <div ng-controller="AlertBarCtrl" id="alert-bar" ng-click="handle_click()">
      <p class="center" ng-repeat="alert in displayed_alerts">{{alert}}</p>
    </div>

    <div ng-controller="NavCtrl" ng-include="'/layout/sidebar.html'">
    </div>

    <div id='main' ng-view>
      <%= yield %>
    </div>

  </div>

  <div id="photo_modal" style="display: none;" ng-include="'/shared/photo_view.html'">
  </div>
  <%# Show everything once we're all loaded. -%>
  <script type="text/javascript">
    $("#app-loading").hide()
    $("#main-frame").show()
  </script>
</body>
</html>