<!DOCTYPE html>
<html>
<head>
  <title>Twit-arr Login Page</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
</head>
<body style="padding: 1em 0;">

<div class="main">

  <div class="clearfix">
    <%= image_tag '/img/jellyfish.png', style: 'height: 150px; margin-left: 0.5em;', class: 'pull-left' %>

    <h3 class="pull-left" style="margin: 1em 0.5em 0">Welcome to Twit-arr!</h3>
  </div>

  <% if @error %>
    <div class="alert alert-warning"><%= @error %></div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
